@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



/* styles/globals.css などに追加 */

.bg-shape-square {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36%;
  /* 適切なサイズに調整 */
  height: 70%;
  /* 適切なサイズに調整 */
  background: white;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* 背景として最背面に配置 */
  border-radius: 8px;
  /* 四角形の角を丸める */
}

.bg-custom-image {
  background-image: url('/images/subtle-prism.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.maze-container {
  width: 100%;
  /* 幅を親要素に合わせる */
  padding-bottom: 100%;
  height: 0;
  position: relative;
  /* 正方形を維持するための高さ調整 */
  margin: auto;
  overflow: hidden;
}

.maze-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .maze-container {
    width: 80%;
    padding-bottom: 80%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .maze-container {
    width: 50%;
    padding-bottom: 50%;
  }
}

/* styles.css */
.arrow-button {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.arrow-button:hover {
  background-color: #ccc;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}